<!-- Modal -->
<div class="modal modal-primary fade" id="CommandeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center" id="myModalLabel">Commande N° 1 </h4>
            </div>
            <div class="modal-body">

                    <section class="content-header">
                        <h4 id="Service" >Services : Urgences</h4>
                    </section>
                        <p id="molecule" style="margin-left: 17px;">Molécule demandé : Paracétamole </p>
                        <p id="dosage" style="margin-left: 17px;">Dosage:  1000mg                 </p>
                        <p id="Quantite" style="margin-left: 17px;">Quantité:  15 Unitées           </p>
                        <p style="margin-left: 17px;"> Commantaire :</p>
                        <p id="commentaire" style="padding: 10px; margin-left: 6px; margin-right: 6px; border: 1px solid white; border-radius: 10apx;">Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum
                        Lorem ipsumLorem ipsumLorem ipsum
                        </p>
                    <div>

                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Affecter</button>
            </div>
        </div>
    </div>
</div>