{% extends "::base.html.twig" %}

{% block body %}
    {% block container %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div id="loginbox" style="margin-top:120px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Connexion - HIA </div>
                    <div style="float:right; font-size: 90%; position: relative; top:-10px"><p>GAP</p></div>
                </div>     

                <div style="padding-top:30px" class="panel-body" >

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    {% block fos_user_content %} 
                    {% endblock fos_user_content %}
                </div>  
            </div>
        </div>
    {% endblock container %}
{% endblock body %}